body  {
    margin: 0;
}
.container  {
    display:   grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    height:  100%;
    width:  100%;
}
input,  button  {
    grid-column:  span 1;
    border: none;
    padding: 0.8em;
    background-color: rgb(247, 243, 243);
    width: 100%;
    font-size:  1.5em;
} 
.black {
    color: black;
}
.blue {
    color: blue;
    border-left: 1px solid lightgray;
}
#screen, #result {
    grid-column:  span 4;
    margin:  0;
    font-size:  1.5em;
}
.row  {
    width: 100%;
}